<div class="container dnn-icon-text-bullet-container">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<div class="dnn-icon-text-bullet-title">{{instance.title}}</div>
			</center>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 dnn-icon-text-bullet-padding-1">
			<center>
				<div class="dnn-icon-text-bullet-subtitle">{{instance.subtitle_1}}</div><br>
				<img src="/media/{{instance.image1}}" height="125px" width="125px"><br>
			</center>
			<div class="dnn-icon-text-bullet-text">{{instance.text_1|safe}}</div>
		</div>
		<div class="col-xs-6 dnn-icon-text-bullet-padding-2">
			<center>
				<div class="dnn-icon-text-bullet-subtitle">{{instance.subtitle_2}}</div><br>
				<img src="/media/{{instance.image2}}" height="125px" width="125px"><br>
			</center>
			<div class="dnn-icon-text-bullet-text">{{instance.text_2|safe}}</div>
		</div>

	</div>
</div>