{% load cms_tags sekizai_tags staticfiles %}
<html>
  <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
  </head>
  <body>
      {% comment %} This is responsible for displaying the Django CMS ToolBar {% endcomment %}
      {% cms_toolbar %}

      {% comment %}
        The current page is active page. Other pages are inactive. All pages
        at level above the active page in the menu are ancestors and all those
        below are descendants.

        The first integer indicates the start_level of the menu
        The second integer indicates the end_level of the menu
        The third integer indicates the extra_inactive levels of the menu
          i.e, the child levels to be displayed for the menu items other
          than the active page(inactive pages).
        The fourth integer indicates the extra_active levels of the menu
          i.e, the child levels to be displayed for the menu items of the
          active page.
      {% endcomment %}
      {% load menu_tags %}
      <ul>
          {% show_menu 0 100 0 1 %}
      </ul>
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
      {% render_block "js" %}
  </body>
</html>