<div class="container dnn-mul-text-imgs-container">
	<div class="row dnn-mul-text-imgs-row">
		<div class="col-xs-10 col-xs-offset-1">
			<center>
				<div class="title"> {{instance.title}}</div>
				<div class="title_text"> {{instance.title_text}}</div>
			</center>
		</div>
	</div>
	<div class="row dnn-mul-text-imgs-row">
		<div class="col-xs-4 dnn-mul-text-imgs-col">
			<center>
				<img src="/media/{{instance.image1}}" height="100px" width="100px">
				<div class="title-subtitle">
					<div class="subtitle"> {{instance.subtitle_1}}</div>
					<div class="subtitle_text"> {{instance.subtitle_text_1|safe}}</div>
				</div>
			</center>
		</div>
		<div class="col-xs-4 dnn-mul-text-imgs-col">
			<center>
				<img src="/media/{{instance.image2}}" height="100px" width="100px">
				<div class="title-subtitle">
					<div class="subtitle"> {{instance.subtitle_2}}</div>
					<div class="subtitle_text"> {{instance.subtitle_text_2|safe}}</div>
				</div>
			</center>
		</div>
		<div class="col-xs-4 dnn-mul-text-imgs-col">
			<center>
				<img src="/media/{{instance.image3}}" height="100px" width="100px">
				<div class="title-subtitle">
					<div class="subtitle"> {{instance.subtitle_3}}</div>
					<div class="subtitle_text"> {{instance.subtitle_text_3|safe}}</div>
				</div>
			</center>
		</div>
	</div>
</div>